//color de fondo general
$colorFondo: rgb(226, 226, 37);

//header
$colorTituloUno: red;
$colorTituloDos: black;
$fuenteTitulo: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$tallaLetraTitulo: 7vw;

//nav
$colorNav: black;
$fuenteNav: 'Permanent Marker', cursive;
$colorLetraNav: white;
$colorNavHover: red;
$tallaLetraNav: 3vw;

//footer
$colorFooter: black;
$tallaletraFooter: 3.5vw;
$colorLetraFooter: white;

//variables generales para todas las pages
$colorContenedor: rgb(146, 39, 39);

$tallaSubtitulos: 4.25vw;
$colorSubtitulos: white;
$fuenteSubtitulos: 'Quintessential', cursive;

$colorParrafo: white;
$tallaParrafo: 1.3vw;
$fuenteParrafo: 'Roboto Mono', monospace;

//variables específicas del index.html
$colorLetraAdd: black;